name: Tests

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  test:
    name: Test Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.4', '2.5', '2.6', '2.7', '3.0' ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install dependencies
        run: |
          gem install bundler -v 2.3.25
          bundle install --jobs 4 --retry 3
      - name: Run the default task
        run: bundle exec rake
